.basicInformation {
    &__main {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: 'Raleway';
        font-size: 16px;
    }

    &__name {
        margin-top: 0;
        font-size: 18px;
    }

    .profilePic {
        max-width: 100%;
    }

    .btn {
        display: inline-block;
        margin-bottom: 15px;
    }

    &__studies {
        margin-top: 0;

        &.icon::before {
            height: 1.25em;
            vertical-align: middle;
            padding-bottom: 10px;
        }
    }
}