/* ========== BASICINFORMATION STYLES ========== */

// Utils
@import '../../common/utils/variables';
@import '../../common/utils/colors';
@import '../../common/utils/breakpoints';

.basicInformation {
    position: relative;

    &__main {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: 'Raleway';
        font-size: 18px;
    }

    &__name {
        margin-top: 0;
        font-size: 18px;
    }

    &__slogan {
        font-family: 'Libre Baskerville';
    }

    .profilePic {
        width: 100px;
        max-width: 100%;
        margin-bottom: var(--col-gap);
        border-radius: 100%;
        height: auto;
    }

    &__buttons {
        display: flex;
        flex-wrap: wrap;

        @include breakpoint($bp-tablet-min) {
            flex-direction: column;
        }
    }

    .btn {
        display: inline-block;
        margin-bottom: 15px;
        font-size: 0.9em;
        margin-right: 10px;

        @media screen and (max-width: $bp-mobile-max) {
            &:last-of-type {
                margin-bottom: 25px;
            }
        }
    }

    &__studies {
        margin-top: 0;

        &.icon::before {
            height: 1.25em;
            vertical-align: middle;
            padding-bottom: 10px;
        }
    }

    &__focus {
        margin-top: calc(var(--col-gap) * 2);
        justify-content: flex-start;
        position: relative;

        &.cols > .col-3 {
            width: calc(25% - var(--col-gap));

            &:first-of-type {
                margin: 0;
                width: 25%;
            }

            .basicInformation__focus-tooltip {
                display: none;
            }

            &:hover {
                .basicInformation__focus-tooltip {
                    display: block;
                    position: absolute;
                    width: calc(75% - var(--col-gap));
                    left: calc(var(--col-gap) * 0.5 + 25%);
                    font-size: 0.75em;
                    line-height: 1.45em;
                    font-family: 'Libre Baskerville';
                    top: calc(var(--col-gap) * 2.5 + 100%);
                }

                .rounded-tag::after {
                    content: '';
                    width: 1px;
                    height: calc(var(--col-gap) * 2);
                    background: #ebebeb;
                    position: absolute;
                    top: 100%;
                    left: 50%;
                }
            }
        }
    }

    &__animation {
        position: absolute;
        overflow: hidden;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;

        &--star {
            position: absolute;
            border-radius: 50%;
            background-color: lightblue;
            transition: opacity 1s ease;
            animation: dotWave ease-in-out 2.5s;
        }
    }

    @media screen and (min-width: $bp-tablet-min) and (max-width: $bp-tablet-max) {
        .col-1 {
            width: calc(100% * 2/12);
            text-align: end;
        }

        .col-3 {
            width: calc(100% * 4/12);
        }

        .col-4 {
            width: calc(100% * 5/12);
        }
    }

    &__bg {
        background-image: url('#{$uri}/uploads/media/bg-002-1200.webp');
        background-size: cover;
        background-position: center;
        filter: opacity(0.75) blur(2px);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;

        @include breakpoint($bp-tablet-min) {
            filter: opacity(0.25) blur(2px);
        }
    }
}

/* -- Animations -- */

@keyframes dotWave {
    0% {
        opacity: 0;
    }

    10% {
        outline: 0px solid lightblue;
        opacity: 1;
        transform: scale(1);
    }

    100% {
        outline: 10px solid lightblue;
        opacity: 0;
        background-color: white;
        transform: scale(3);
    }
}