/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&family=Raleway:wght@400;600&display=swap");

.brief {
  display: flex;
  background-color: #000021;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  transition: background 1s ease;
}
.brief__main {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  z-index: 1;
}
.brief__name {
  font-weight: 400;
  margin: 0;
}
.brief__role--basic {
  text-align: right;
}
.brief__role--basic, .brief__role--list {
  display: inline-block;
  vertical-align: middle;
  font-weight: 700;
  width: 48%;
}
.brief__role--list {
  padding-left: 1em;
}
.brief__role--basic, .brief__role--item {
  font-size: 60px;
}
.brief__role--item {
  list-style: none;
  text-align: left;
  animation: slideInUp ease-in-out 3s;
}
.brief__description {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.6);
}
.brief__description--experience {
  border-bottom: rgba(255, 255, 255, 0.6) 3px solid;
  padding-bottom: 10px;
  border-radius: 6px;
  white-space: nowrap;
}
.brief__animation {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
.brief__animation--sun {
  width: 20vh;
  aspect-ratio: 1/1;
  background-color: yellow;
  border-radius: 20vh;
  position: absolute;
  left: calc(50% - 10vh);
  transform: translateY(100vh);
}
.brief__animation--stars {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  animation: circle infinite 60s linear;
}
.brief__animation--star {
  background-color: #000;
  position: fixed;
  border-radius: 50%;
  background-color: rgba(69, 94, 115, 0.9);
  transition: opacity 1s ease;
}

/* -- Animations -- */
@keyframes slideInUp {
  0% {
    transform: translateY(0.5em);
    opacity: 0;
  }
  33% {
    transform: translateY(0);
    opacity: 1;
  }
  66% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-0.5em);
    opacity: 0;
  }
}
@keyframes circle {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}