/* Utils */
@import '../../common/utils/colors';
@import '../../common/utils/breakpoints';

/* Variables */
/* --- Sizes */
$sunSize: 20vh;

.brief {
    display: flex;
    background-color: $dark-blue;
    justify-content: center;
    align-items: center;
    color: $white;
    transition: background 1s ease;

    &__main {
        text-align: center;
        font-family: "Raleway", sans-serif;
        font-weight: 400;
        z-index: 1;
    }

    &__name {
        font-weight: 400;
        margin: 0;
    }

    &__role {
        &--basic {
            text-align: right;

            @media screen and (max-width:767px){
                margin-bottom: 0;
            }
        }

        &--basic,
        &--list {
            display: inline-block;
            vertical-align: middle;
            font-weight: 700;

            @media screen and (min-width:768px){
                width: 48%;
            }
        }

        &--list {
            padding-left: 0;

            @media screen and (min-width:768px){
                padding-left: 1em;
            }
        }

        &--basic,
        &--item {
            font-size: 60px;

            @media screen and (max-width:767px){
                text-align: center;
                font-size: 11vw;
                display: block;
            }
        }

        &--item {
            list-style: none;
            text-align: left;
            animation: slideInUp ease-in-out 3s;

            @media screen and (max-width:767px){
                width: 100%;
                margin-bottom: 0.5em;
                text-align: center;
            }
        }
    }

    &__description {
        font-family: "Libre Baskerville", serif;
        font-weight: 400;
        font-size: 20px;
        color: $white-transparent-six;

        &--experience {
            border-bottom: $white-transparent-six 3px solid;
            padding-bottom: 10px;
            border-radius: 6px;
            white-space: nowrap;
        }
    }

    &__animation {
        position: absolute;
        overflow: hidden;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;

        &--sun {
            width: $sunSize;
            aspect-ratio: 1 / 1;
            background-color: yellow;
            border-radius: $sunSize;
            position: absolute;
            left: calc(50% - 10vh);
            transform: translateY(100vh);
        }

        &--stars {
            width: 100vmax;
            height: 100vmax;
            position: absolute;
            top: 0;
            left: 0;
            animation: circle infinite 60s linear;
        }

        &--star {
            position: absolute;
            border-radius: 50%;
            background-color: rgb(69 94 115 / 90%);
            transition: opacity 1s ease;

        }
    }
}

/* -- Animations -- */

@keyframes slideInUp {
    0% {
        transform: translateY(0.5em);
        opacity: 0;
    }

    33% {
        transform: translateY(0);
        opacity: 1;
    }

    66% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(-0.5em);
        opacity: 0;
    }
}

@keyframes circle {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}