/* Utils */
@import '../common/utils/colors';
@import '../common/utils/breakpoints';

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&family=Raleway:wght@400;600&display=swap");

:root {
    --col-gap : 20px;
}

body {
	margin: 0;
}

.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
	z-index: 1;

    .menu {
        display: flex;
        justify-content: space-evenly;
        padding: 0;

        &-item {
            list-style: none;

            @media screen and (min-width:768px){
                padding: 1em 2em;
            }

            a {
                text-decoration: none;
                font-family: 'Raleway';

                .page__index & {
                    color: white;
                }
            }
        }
    }
}

section {
	min-height: 100vh;
}

main {
	width: 1728px;
	max-width: calc(100vw - 30px);
	padding: 15px;
    margin: auto;
}

.cols {
    display: flex;
    justify-content: center;
    flex-flow: wrap;
}

@mixin colWidth($n) {
    margin: 0 calc(var(--col-gap) * 0.5);
    width: 100%;

    @include breakpoint($bp-tablet-min) {
        width: calc(100% / 12 * $n - var(--col-gap));
    }
}

.col-1 { @include colWidth(1); }
.col-2 { @include colWidth(2); }
.col-3 { @include colWidth(3); }
.col-4 { @include colWidth(4); }
.col-5 { @include colWidth(5); }
.col-6 { @include colWidth(6); }
.col-7 { @include colWidth(7); }
.col-8 { @include colWidth(8); }
.col-9 { @include colWidth(9); }
.col-10 { @include colWidth(10); }
.col-11 { @include colWidth(11); }
.col-12 {
    margin: 0;
    width: 100%;
 }

.btn {
    padding: 0.75em 1.25em;
    border-radius: 50px;
    text-decoration: none;
    height: fit-content;
    width: fit-content;

    @include breakpoint($bp-tablet-min) {
        padding: 6px 16px;
    }

    &__secondary {
        color: $electric-blue;
        border: 1px solid $electric-blue;
        background: white;
        transition: 0.5s background-color;

        &::before {
            transition: 0.5s filter;
        }

        &:hover {
            color: white;
            background-color: $electric-blue;
            animation: fadeHoverBtnLeft ease-in-out 0.5s;

            &::before {
                filter: brightness(0) invert(1);
                animation: fadeHoverBtnIconLeft ease-in-out 0.5s;
            }
        }
    }
}

// Social buttons with icons
.icon {
    &::before {
        content: '';
        height: 0.85em;
        display: inline-block;
        background-size: contain;
        aspect-ratio: 1;
        background-repeat: no-repeat;
        margin-right: 0.5em;
        transform: translateY(1px);
    }

    &__linkedin::before {
        background-image: url(/portfolio/uploads/icons/icon_linkedin.svg);
    }

    &__resumee::before {
        background-image: url(/portfolio/uploads/icons/icon_document.svg);
    }

    &__graduate::before {
        background-image: url(/portfolio/uploads/icons/icon_graduate.svg);
    }

    &__master::before {
        background-image: url(/portfolio/uploads/icons/icon_master.svg);
    }

    &__link--external::before {
        background-image: url(/portfolio/uploads/icons/icon_link-external.svg);
    }
}

/* Fancy global styles */
.heart {
    color: $electric-blue;
}

.rounded-tag {
    display: flex;
    width: 120px;
    max-width: 100%;
    min-width: 55px;
    aspect-ratio: 1;
    align-items: center;
    justify-content: center;
    font-family: "Libre Baskerville", serif;
    border-radius: 100%;
    box-shadow: 2px 2px 4px #00000020;
    position: relative;
    cursor: pointer;
    background: white;
}

/* -- Animations -- */

@keyframes fadeHoverBtnLeft {
    0% {
        color: $electric-blue;
        background-color: white;
    }

    50% {
        padding-left: 6px;
        padding-right: 26px;
        color: white;
        background-color: white;
    }

    51% {
        padding-right: 6px;
        padding-left: 26px;
        color: white;
    }

    100% {
        color: white;
        background-color: $electric-blue;
    }
}

@keyframes fadeHoverBtnIconLeft {
    0% {
        opacity: 1;
        filter: none;
    }

    50% {
        opacity: 0;
        filter: none;
    }

    51% {
        filter: brightness(0) invert(1);
    }

    100% {
        opacity: 1;
        filter: brightness(0) invert(1);
    }
}