/* Utils */ /* --- Colors */
/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&family=Raleway:wght@400;600&display=swap");
:root {
  --col-gap: 20px;
}

body {
  margin: 0;
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.header .menu {
  display: flex;
  justify-content: space-evenly;
  padding: 0;
}
.header .menu-item {
  list-style: none;
}
@media screen and (min-width: 768px) {
  .header .menu-item {
    padding: 1em 2em;
  }
}
.header .menu-item a {
  text-decoration: none;
  font-family: "Raleway";
}
.page__index .header .menu-item a {
  color: white;
}

section {
  min-height: 100vh;
}

main {
  width: 1728px;
  max-width: calc(100vw - 30px);
  padding: 15px;
  margin: auto;
}

.cols {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
}

.col-1 {
  margin: 0 calc(var(--col-gap) * 0.5);
  width: 100%;
}
@media (min-width: 768px) {
  .col-1 {
    width: calc(8.3333333333% - var(--col-gap));
  }
}

.col-2 {
  margin: 0 calc(var(--col-gap) * 0.5);
  width: 100%;
}
@media (min-width: 768px) {
  .col-2 {
    width: calc(16.6666666667% - var(--col-gap));
  }
}

.col-3 {
  margin: 0 calc(var(--col-gap) * 0.5);
  width: 100%;
}
@media (min-width: 768px) {
  .col-3 {
    width: calc(25% - var(--col-gap));
  }
}

.col-4 {
  margin: 0 calc(var(--col-gap) * 0.5);
  width: 100%;
}
@media (min-width: 768px) {
  .col-4 {
    width: calc(33.3333333333% - var(--col-gap));
  }
}

.col-5 {
  margin: 0 calc(var(--col-gap) * 0.5);
  width: 100%;
}
@media (min-width: 768px) {
  .col-5 {
    width: calc(41.6666666667% - var(--col-gap));
  }
}

.col-6 {
  margin: 0 calc(var(--col-gap) * 0.5);
  width: 100%;
}
@media (min-width: 768px) {
  .col-6 {
    width: calc(50% - var(--col-gap));
  }
}

.col-7 {
  margin: 0 calc(var(--col-gap) * 0.5);
  width: 100%;
}
@media (min-width: 768px) {
  .col-7 {
    width: calc(58.3333333333% - var(--col-gap));
  }
}

.col-8 {
  margin: 0 calc(var(--col-gap) * 0.5);
  width: 100%;
}
@media (min-width: 768px) {
  .col-8 {
    width: calc(66.6666666667% - var(--col-gap));
  }
}

.col-9 {
  margin: 0 calc(var(--col-gap) * 0.5);
  width: 100%;
}
@media (min-width: 768px) {
  .col-9 {
    width: calc(75% - var(--col-gap));
  }
}

.col-10 {
  margin: 0 calc(var(--col-gap) * 0.5);
  width: 100%;
}
@media (min-width: 768px) {
  .col-10 {
    width: calc(83.3333333333% - var(--col-gap));
  }
}

.col-11 {
  margin: 0 calc(var(--col-gap) * 0.5);
  width: 100%;
}
@media (min-width: 768px) {
  .col-11 {
    width: calc(91.6666666667% - var(--col-gap));
  }
}

.col-12 {
  margin: 0;
  width: 100%;
}

.btn {
  padding: 0.75em 1.25em;
  border-radius: 50px;
  text-decoration: none;
  height: fit-content;
  width: fit-content;
}
@media (min-width: 768px) {
  .btn {
    padding: 6px 16px;
  }
}
.btn__secondary {
  color: rgb(31, 94, 148);
  border: 1px solid rgb(31, 94, 148);
  background: white;
  transition: 0.5s background-color;
}
.btn__secondary::before {
  transition: 0.5s filter;
}
.btn__secondary:hover {
  color: white;
  background-color: rgb(31, 94, 148);
  animation: fadeHoverBtnLeft ease-in-out 0.5s;
}
.btn__secondary:hover::before {
  filter: brightness(0) invert(1);
  animation: fadeHoverBtnIconLeft ease-in-out 0.5s;
}

span.strong {
  font-weight: bold;
}

.icon::before {
  content: "";
  height: 0.85em;
  display: inline-block;
  background-size: contain;
  aspect-ratio: 1;
  background-repeat: no-repeat;
  margin-right: 0.5em;
  transform: translateY(1px);
}
.icon__linkedin::before {
  background-image: url(/portfolio/uploads/icons/icon_linkedin.svg);
}
.icon__resumee::before {
  background-image: url(/portfolio/uploads/icons/icon_document.svg);
}
.icon__graduate::before {
  background-image: url(/portfolio/uploads/icons/icon_graduate.svg);
}
.icon__master::before {
  background-image: url(/portfolio/uploads/icons/icon_master.svg);
}
.icon__link--external::before {
  background-image: url(/portfolio/uploads/icons/icon_link-external.svg);
}

/* Fancy global styles */
.heart {
  color: rgb(31, 94, 148);
}

.rounded-tag {
  display: flex;
  width: 120px;
  max-width: 100%;
  min-width: 55px;
  aspect-ratio: 1;
  align-items: center;
  justify-content: center;
  font-family: "Libre Baskerville", serif;
  border-radius: 100%;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1254901961);
  position: relative;
  cursor: pointer;
  background: white;
}

/* -- Animations -- */
@keyframes fadeHoverBtnLeft {
  0% {
    color: rgb(31, 94, 148);
    background-color: white;
  }
  50% {
    padding-left: 6px;
    padding-right: 26px;
    color: white;
    background-color: white;
  }
  51% {
    padding-right: 6px;
    padding-left: 26px;
    color: white;
  }
  100% {
    color: white;
    background-color: rgb(31, 94, 148);
  }
}
@keyframes fadeHoverBtnIconLeft {
  0% {
    opacity: 1;
    filter: none;
  }
  50% {
    opacity: 0;
    filter: none;
  }
  51% {
    filter: brightness(0) invert(1);
  }
  100% {
    opacity: 1;
    filter: brightness(0) invert(1);
  }
}

/*# sourceMappingURL=style.css.map */
